<!-- Banner -->
{% load static%}
<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                <br><br><br><br>
                Kurslarımız
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                

                <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>
            </div>
            
            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
                </div>	
            </div>
        </div>
        
        <div class="row isotope-grid">
            {% for rs in course_data %}
         
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{rs.category}}">
                <!-- Block2 -->
                
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{rs.image.url}}" alt="IMG-PRODUCT">

                        <a href="/product/{{rs.id}}/{{rs.slug}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
                            Detaylı İncele
                        </a>
                    </div>
                    
                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/product/{{rs.id}}/{{rs.slug}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{rs.title}}
                            </a>

                            <span class="stext-105 cl3">
                                {{rs.price}}TL
                            </span>
                        </div>
                        
                        
                    </div>
                    
                </div>
                
                
            </div>
            
            {% endfor %}
        </div>

        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                <br><br><br><br>
                Son Eklenenler
                <br><br><br><br>
            </h3>
        </div>

        <div class="row isotope-grid">
            {% for k in course_data_last %}
         
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{rs.category}}">
                <!-- Block2 -->
                
                <div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="{{k.image.url}}" alt="IMG-PRODUCT">

                        <a href="/product/{{k.id}}/{{k.slug}}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
                            Detaylı İncele
                        </a>
                    </div>
                    
                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/product/{{k.id}}/{{k.slug}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{k.title}}
                            </a>

                            <span class="stext-105 cl3">
                                {{k.price}}TL
                            </span>
                        </div>
                        
                        
                    </div>
                    
                </div>
                
                
            </div>
            
            {% endfor %}
        </div>
    </div>
</section>
