{% extends "homebase.html" %}

{% load static%}

{% block title %} Sıkça Sorulan Sorular {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %} 
<link rel="icon" type="image/png" href='{{setting.icon.url}}'/> 
{% endblock %}



{% block content %}
  <!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                <br><br><br><br>
                Sıkça Sorulan Sorular
                <br><br>
            </h3>
        </div>

        <ul class="header-cart-wrapitem w-full">
            {%for rs in faq%}
            <li class="header-cart-item flex-w flex-t m-b-12">
                <div class="header-cart-item-txt p-t-8">
                    <a href="" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                        ◈ <b>{{rs.question}}</b>
                    </a>

                    <span class="header-cart-item-info">
                        {{rs.answer}}<br><br>
                    </span>
                </div>
            </li>
            {% endfor %}
        </div>
    </div>
</section>	
{% endblock %}
