{% extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %} 
<link rel="icon" type="image/png" href='{{setting.icon.url}}'/> 
{% endblock %}

{% block cart %}
    {% include "cart.html" %}
{% endblock %}

{% block slider %}
    {% include "slider.html" %}
    {% include "slider2.html" %}
{% endblock %}

{% block content %}
    {% include "content.html" %}
{% endblock %}
